 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{font-family: 'Poppins', sans-serif;
    margin:0 ;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
header{
background-color: #9c9a9a;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}

.logo{
text-decoration: none;
color: rgb(39, 39, 39);
text-transform: uppercase;
font-weight: 800;
font: size 1.9em; 
}

.navigation{
    display: flex;
}




  
  .navigation  a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
   .navigation  a:focus:after{
    transform: scaleX(1);
  }
  






.navigation a {
text-decoration: none;
color:rgb(39, 39, 39);
font-size: 1.0em;
padding-left:30px ;
transition:  0.4s ease ;
}
.navigation a:hover{
color:rgb(207, 207, 207);
}

section{
    padding:100px 200px ;
}
.main{
width: 100%;
min-height: 100vh; 
display: flex;
align-items: center;
background: url(images/dori.png) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.main h2{
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}
.main h2 span{
    color: rgb(167, 166, 166);
font-size :3.4em; 
font-weight:800 ;
}
.main h3{
    color: #fff;
    font-size: 1.7em;
    font: weight 600 ;
    letter-spacing: 1px;
}
.main-btn{
    text-decoration: none;
color: #fff;
background-color: rgb(138, 138, 138);
font: size 1.1em; 
font-weight: 600;
display: inline-block;
letter-spacing: 1px;
padding: 0.9375em 2.1875em; 
border:rgb(141, 63, 214);
border-radius: 8px;
margin:25px 0px ;
transition:  0.7s ease ;
}
.main-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(138, 138, 138); 
    transform: scale(1.1);
}
.social-icons a i{
color: #fff;
font-size: 1.7em;
padding-right :30px;
transition:  0.7s ease ;
}
.social-icons a i:hover{
transform: translateY(-6px);
}

.cards{
    background-color: #3a3a3a;
}

.title{
display: flex;
justify-content: center;
color: rgb(194, 194, 194);
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
cursor: url(images/iconmonstr-cat-7-240.png), auto;
}
.content{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;

}
.card{
background-color: #d8d8d8;
width: 22em;
box-shadow: 0 5px 30px rgba(2, 1, 1, 0.534);
border-radius: 10px;
padding: 25px; 
margin: 15px;
transition:0.7s ease ;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
color: rgb(119, 119, 119);
font-size: 8em;
text-align: center;
transition:0.7s ease ;
}

.info{
    text-align: center;
}
.info h3{
color: rgb(119, 119, 119);
font-size: 1.4em;
margin: 10px;
transition:0.7s ease ;
}


.projects{
background-color: #3a3a3a;

}

.projects .content{
margin-top: 30px;
flex-direction: row;
flex-wrap: wrap;
}
.projects-card{
background-color: #fff;
border: 1px solid #fff ; 
min-height: 9em;
width: 17em; 
overflow: hidden;
border-radius: 10px;
margin: 20px;
transition:0.7s ease ;

}
.projects-card:hover{
    transform: scale(1.1);
}
.projects-image img{
    width: 100%;
}
.projects-card:hover .projects-image{
    opacity: 0.8;
}
.project-info{
padding: 1em;
}
.project-info p{
    font-size: 0.8em; 
    color: black;
    text-decoration: solid;
}
.project-info a{
    margin-left: 130px;
    text-decoration: none;
    font-size: 0.9em;
}
.{
    background-color: black;
}

.cardtwo{
    
        
        width: 22em;
        padding: 25px; 
        margin: 15px;
}

.contact{
    background-color: #000000; 
    }
    .cards .content a{
        text-decoration: none;
    }
    .cardtwo .info{
        color: rgb(167, 165, 165);
    }
.cardtwo .info p{
animation-name: bomb;
animation-duration: 3s;
animation-fill-mode: both;
animation-iteration-count: infinite;
}
@keyframes bomb {
    0%{transform: scale(1);

    }
50%{transform: scale(1.1);
}
100%{transform: scale(1) ;

}
}
.vertical-line {
    border-left: 1px solid rgb(255, 255, 255); 
    height: 100px; 
    animation-name: line;
animation-duration: 3s;
animation-fill-mode: both;
animation-iteration-count: infinite;
  }
  
  
  @keyframes line {
    0%{height: 100px;

    }
50%{height: 130px;
}
100%{height: 100px;

}
}




footer{
background-color: #3a3a3a;
width: 100%;
height: 4em;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
letter-spacing: 21px;
}
